* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.ev-select {
  width: 100%;
  position: relative;

  * {
    box-sizing: border-box;
  }

  .ev-control {
    display: flex;
    flex-direction: column;
    gap: 10px;

    label {
      color: #616161;
      font-weight: bold;
      font-size: 14px;
    }

    .ev-control-input {
      --radius: 8px;
      width: 100%;
      border: solid thin #9e9e9e;
      padding: 10px;
      height: 45px;
      border-radius: var(--radius);
      transition: all 0.25s ease-in-out;

      &:focus-within {
        border-color: transparent;
        box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
      }

      input {
        width: 100%;
        height: 100%;
        background-color: inherit;
        border: none;
        color: #313131;

        &:focus {
          outline: none;
        }
      }
    }
  }

  .ev-select-options {
    position: absolute;
    height: auto;
    max-height: 250px;
    transform: scaleY(0);
    visibility: hidden;
    width: 100%;
    margin-top: 3px;
    overflow-y: auto;
    transition: all 0.25s ease-in-out;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);

    &.open {
      transform: scaleY(1);
      visibility: visible;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    li {
        padding: 10px;
        transition: all .25s ease-in-out;
        &:hover {
            background-color: #eee;
            cursor: pointer;
        }
        &.active {
            background-color: #eee;
        }
    }
  }
}
